@font-face {
	font-family: "fonts.icons";
	src: url('../fonts/fonts.icons.eot');
	src: url('../fonts/fonts.icons.eot?#iefix') format('eot'),
		url('../fonts/fonts.icons.woff2') format('woff2'),
		url('../fonts/fonts.icons.woff') format('woff'),
		url('../fonts/fonts.icons.ttf') format('truetype'),
		url('../fonts/fonts.icons.svg#fonts.icons') format('svg');
}

@mixin icn-styles {
	font-family: "fonts.icons" !important;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: block;
	line-height: 1;
}

%icn {
	@include icn-styles;
}

@function icn-char($filename) {
	$char: "";

	@if $filename == angle-down {
		$char: "\E001";
	}
	@if $filename == angle-left {
		$char: "\E002";
	}
	@if $filename == angle-right {
		$char: "\E003";
	}
	@if $filename == angle-up {
		$char: "\E004";
	}
	@if $filename == avatar {
		$char: "\E005";
	}
	@if $filename == bars {
		$char: "\E006";
	}
	@if $filename == basketball {
		$char: "\E007";
	}
	@if $filename == calendar {
		$char: "\E008";
	}
	@if $filename == checkbox {
		$char: "\E009";
	}
	@if $filename == close {
		$char: "\E00A";
	}
	@if $filename == facebook {
		$char: "\E00B";
	}
	@if $filename == football {
		$char: "\E00C";
	}
	@if $filename == hokey {
		$char: "\E00D";
	}
	@if $filename == info {
		$char: "\E00E";
	}
	@if $filename == instagram {
		$char: "\E00F";
	}
	@if $filename == linkedin {
		$char: "\E010";
	}
	@if $filename == lock-o {
		$char: "\E011";
	}
	@if $filename == lock {
		$char: "\E012";
	}
	@if $filename == pin {
		$char: "\E013";
	}
	@if $filename == radio {
		$char: "\E014";
	}
	@if $filename == telegram {
		$char: "\E015";
	}
	@if $filename == tennis {
		$char: "\E016";
	}
	@if $filename == treg-left {
		$char: "\E017";
	}
	@if $filename == treg-right {
		$char: "\E018";
	}
	@if $filename == twitter {
		$char: "\E019";
	}
	@if $filename == vk {
		$char: "\E01A";
	}
	@if $filename == youtube {
		$char: "\E01B";
	}

	@return $char;
}

@mixin icn($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icn;
		} @else {
			@include icn-styles;
		}
		content: icn-char($filename);
	}
}

.icn-angle-down {
	@include icn(angle-down);
}
.icn-angle-left {
	@include icn(angle-left);
}
.icn-angle-right {
	@include icn(angle-right);
}
.icn-angle-up {
	@include icn(angle-up);
}
.icn-avatar {
	@include icn(avatar);
}
.icn-bars {
	@include icn(bars);
}
.icn-basketball {
	@include icn(basketball);
}
.icn-calendar {
	@include icn(calendar);
}
.icn-checkbox {
	@include icn(checkbox);
}
.icn-close {
	@include icn(close);
}
.icn-facebook {
	@include icn(facebook);
}
.icn-football {
	@include icn(football);
}
.icn-hokey {
	@include icn(hokey);
}
.icn-info {
	@include icn(info);
}
.icn-instagram {
	@include icn(instagram);
}
.icn-linkedin {
	@include icn(linkedin);
}
.icn-lock-o {
	@include icn(lock-o);
}
.icn-lock {
	@include icn(lock);
}
.icn-pin {
	@include icn(pin);
}
.icn-radio {
	@include icn(radio);
}
.icn-telegram {
	@include icn(telegram);
}
.icn-tennis {
	@include icn(tennis);
}
.icn-treg-left {
	@include icn(treg-left);
}
.icn-treg-right {
	@include icn(treg-right);
}
.icn-twitter {
	@include icn(twitter);
}
.icn-vk {
	@include icn(vk);
}
.icn-youtube {
	@include icn(youtube);
}