.wrapper
    +wrapper()
main
    background: 0 0 repeat
    +retina("../img/bg", ".jpg")            
    min-height: calc(100vh - 112px)
    position: relative
    overflow: hidden
    .background
        position: absolute
        top: 0
        left: 0
        width: 100%
        padding-bottom: 150%
        padding-top: 80px
        background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%)
        background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%)
        background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 )
        @media(max-width: 992px)
            padding-top: 105px
.content
    background: #F6F6F6
    padding: 47px 15px 38px
