%svg-common {
	background: url("../img/sprite-6b4b19a9.svg") no-repeat;
}

.icon-arrow-ball {
	@extend %svg-common;
	background-position: 93.98907103825137% 83.55263157894737%;
}

.icon-arrow-ball-size {
	width: 17px;
	height: 15px;
}

.icon-ball {
	@extend %svg-common;
	background-position: 92.97297297297297% 93.42105263157895%;
}

.icon-ball-size {
	width: 15px;
	height: 15px;
}

.icon-instagram {
	@extend %svg-common;
	background-position: 100% 20.14388489208633%;
}

.icon-instagram-size {
	width: 28px;
	height: 28px;
}

.icon-like {
	@extend %svg-common;
	background-position: 0 47.674418604651166%;
}

.icon-like-size {
	width: 81px;
	height: 81px;
}

.icon-maestro {
	@extend %svg-common;
	background-position: 21.686746987951807% 100%;
}

.icon-maestro-size {
	width: 34px;
	height: 27px;
}

.icon-master {
	@extend %svg-common;
	background-position: 0 100%;
}

.icon-master-size {
	width: 36px;
	height: 27px;
}

.icon-qiwi {
	@extend %svg-common;
	background-position: 76.66666666666667% 0;
}

.icon-qiwi-size {
	width: 80px;
	height: 30px;
}

.icon-red-card {
	@extend %svg-common;
	background-position: 100% 73.6842105263158%;
}

.icon-red-card-size {
	width: 11px;
	height: 15px;
}

.icon-shirt {
	@extend %svg-common;
	background-position: 93.98907103825137% 73.6842105263158%;
}

.icon-shirt-size {
	width: 17px;
	height: 15px;
}

.icon-telegram {
	@extend %svg-common;
	background-position: 100% 0;
}

.icon-telegram-size {
	width: 28px;
	height: 28px;
}

.icon-telegram-78x78 {
	@extend %svg-common;
	background-position: 75.40983606557377% 33.70786516853933%;
}

.icon-telegram-78x78-size {
	width: 78px;
	height: 78px;
}

.icon-visa {
	@extend %svg-common;
	background-position: 0 81.87919463087249%;
}

.icon-visa-size {
	width: 54px;
	height: 18px;
}

.icon-vk {
	@extend %svg-common;
	background-position: 100% 60.431654676258994%;
}

.icon-vk-size {
	width: 28px;
	height: 28px;
}

.icon-webmoney {
	@extend %svg-common;
	background-position: 0 0;
}

.icon-webmoney-size {
	width: 92px;
	height: 26px;
}

.icon-whatsApp {
	@extend %svg-common;
	background-position: 100% 40.28776978417266%;
}

.icon-whatsApp-size {
	width: 28px;
	height: 28px;
}

.icon-yandex {
	@extend %svg-common;
	background-position: 0 17.105263157894736%;
}

.icon-yandex-size {
	width: 84px;
	height: 15px;
}

.icon-yell-card {
	@extend %svg-common;
	background-position: 100% 83.55263157894737%;
}

.icon-yell-card-size {
	width: 11px;
	height: 15px;
}

