=retina($url, $ext)
    background-image: url($url+$ext)
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi)
        background-image: url($url+'@2x'+$ext)

=styling-tags()
    *, *:after, *:before
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        padding: 0
        margin: 0
    input, button, select
        &:focus
            outline: none

    select, button, input[type="submit"], input[type="reset"]
        -webkit-appearance: none
        appearance: none
        cursor: pointer
    select::-ms-expand
        display: none

    button, 
    input[type="submit"], 
    input[type="button"], 
    input[type="reset"], 
    select,
    a 
        cursor: pointer
        text-decoration: none
        &:hover, &:focus
            outline: none
            text-decoration: none

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
        font-weight: normal
        color: #212529
        margin-bottom: 15px
        line-height: 1.1
    h1, .h1
        font-size: 20px
        text-transform: uppercase
        @media(max-width: 1199px)
            font-size: 16px
    h2, .h2
        font-size: 20px
    h3, .h3
        font-size: 18px
    h4, .h4
        font-size: 18px
    h5, .h5
        font-size: 18px
    h6, .h6
        font-size: 18px

    p, em, strong
        font-size: inherit
    em
        font-style: normal
        font-style: italic

    strong
        font-weight: normal
        font-weight: bold
        
    ul
        font-size: inherit
        padding-left: 18px
        li
            list-style: outside disc
            &:last-child
                padding-bottom: 0
    ol
        font-size: inherit
        padding-left: 18px
        font-weight: bold
        li
            list-style: outside decimal
            padding-bottom: 0px
            &:last-child
                padding-bottom: 0
        
    table
        width: 100%
    caption
        font-size: 18px
        padding-bottom: 8px
    th
        padding: 8px 0
        font-size: 16px
        border-bottom: 1px solid #ccc
    td
        padding: 8px 0
        font-size: 14px
        border-bottom: 1px solid #ccc
        
    
=reset-list()
    padding-left: 0
    li
        list-style: none
        padding-bottom: 0
    