.versusBanner{:style=> "background-image: url('assets/pictures/banner.jpg')"}
    .versusBanner__text
        Узнай прогноз на матч
    .versusBanner__team
        %img{:src => "assets/pictures/team1.png", :alt => ""}/
        %span Крузейро
    %span.versusBanner__vs VS
    .versusBanner__team
        %img{:src => "assets/pictures/team2.png", :alt => ""}/
        %span Бока Х
    %a.btns.btns-primary.btns-block.versusBanner__btn{:href => ""} Хочу прогноз