%footer.footer
    .container
        .row
            .col-6
                .foot__menus
                    .foot__box
                        .foot__title Типы прогнозов
                        %ul.foot__menu
                            %li
                                %a{:href => ""} Прогнозы на футбол
                            %li
                                %a{:href => ""} Прогнозы на баскетбол
                            %li
                                %a{:href => ""} Прогнозы на хоккей
                            %li
                                %a{:href => ""} Прогнозы на теннис
                            %li
                                %a{:href => ""} Ординар
                            %li
                                %a{:href => ""} Экспресс
                    .foot__box
                        .foot__title Навигация
                        %ul.foot__menu
                            %li
                                %a{:href => ""} Прогнозы на спорт
                            %li
                                %a{:href => ""} Личный кабинет
                            %li
                                %a{:href => ""} Регистрация
                            %li
                                %a{:href => ""} Контакты
                            %li
                                %a{:href => ""} Отзывы
                            %li
                                %a{:href => ""} FAQ
            .col-6
                .foot__rightBar
                    %a.logo.foot__logo{:href => ""}
                        %img{:src => "assets/img/logo.svg", :alt => ""}/
                    .foot__social
                        %a.mail{:href => ""} info@timbet.ru
                        .social
                            %a.social__item{:href => ""}
                                %i.icn-telegram
                            %a.social__item{:href => ""}
                                %i.icn-vk
                            %a.social__item{:href => ""}
                                %i.icn-instagram 
                    .paymant
                        %i.icon-master.icon-master-size 
                        %i.icon-maestro.icon-maestro-size 
                        %i.icon-qiwi.icon-qiwi-size 
                        %i.icon-webmoney.icon-webmoney-size 
                        %i.icon-yandex.icon-yandex-size 
                        %i.icon-visa.icon-visa-size 
        .row
            .col-12
                .foot__copy
                    %span 2018 Timbet. Все права защищены
                    %a{:href => ""} Договор оферты
        
%script{:type => "text/javascript", :src => "assets/js/libs.min.js"} 
%script{:type => "text/javascript", :src => "assets/js/app.min.js"}