.block
    .block__head.grey Прогнозы на сегодня
    .statistic
        %ul.statisticList
            - (1..5).each do |i|
                %li.statisticItem.extend.statisticList__item
                    %a.statisticItem__month{:href => ""} Крузейро - Бока Х
                    %span.statisticItem__num Либертадорес 13:00
        %a.btns.btns-primary.btns-block.statistic__btn{:href => ""} Полный список