%header.header  
    .container
        .row
            .col-12
                .header__inner
                    %a.logo.header__logo{:href => ""}
                        %img{:src => "assets/img/logo.svg", :alt => ""}/        
                    %nav.mainMenu.header__mainMenu
                        %a.mainMenu__item{:href => ""} ПРОГНОЗЫ
                        %a.mainMenu__item{:href => ""} ОТЗЫВЫ
                        %a.mainMenu__item{:href => ""} FAQ
                        %a.mainMenu__item{:href => ""} КОНТАКТЫ
                    .social.header__socials
                        %a.social__item{:href => ""}
                            %i.icn-telegram
                        %a.social__item{:href => ""}
                            %i.icn-vk
                        %a.social__item{:href => ""}
                            %i.icn-instagram 
                    - if $guest == true
                        %a.btns.btns-primary.header__btns{:href => ""} Регистрация
                        %a.btns.btns-default.header__btns{:href => ""} Вход
                    - else
                        .header__user
                            %button
                                %i.icn-avatar 
                                %span QwErTy12345@gmail.com
                            .ddMenu
                                %a{:href => "https://www.google.ru/"} Личный Кабинет
                                %a{:href => ""} Мои подписки
                                %a{:href => ""} Настройки
                                %a{:href => ""} Выход