.info
    %p
        НАПОМИНАЕМ
        ЧТО СТАВКИ НА СПОРТ - ЭТО РИСК, ОТ КОТОРОГО НЕ ЗАСТРАХОВАНЫ ДАЖЕ ПРОФЕССИОНАЛЬНЫЕ БЕТТЕРЫ
        %br/
        %br/
        МЫ НЕ МОЖЕМ ГАРАНТИРОВАТЬ 100% ПРОХОДИМОСТЬ ПРОГНОЗОВ, НО ДЕЛАЕМ ВСЕ ВОЗМОЖНОЕ ДЛЯ ВАШИХ ПОБЕД!