.container
    .row
        .col
            .mainHead
                .mainHead__titles
                    .mainHead__title Прогнозы на спорт
                    .mainHead__subtitle ОТ КОМАНДЫ АНАЛИТИКОВ TIMBET
                %ul.mainHead__list
                    %li Высокая проходимость
                    %li Профессиональная аналитика
                    %li Многолетний опыт в сфере ставок
                .mainHead__icon
                    %i.icon-like.icon-like-size 