.block                                     
    %h2.block__title Прогнозы на другие матчи 11.12.2018   
    %table.otherGames
        %tbody
            - (1..5).each do |i|
                %tr
                    %td 16:00
                    %td{:width => "50%"} Малайзия
                    %td
                        %img{:src => "assets/pictures/team2.png", :alt => ""}/
                    
                    %td
                        %i.icn-football
                    %td
                        %img{:src => "assets/pictures/team2.png", :alt => ""}/
                    
                    %td{:width => "50%"} Малайзия
                    %td         
                        %span.result 
                            1.52
                            - if i == 3
                                .vip.vip-small