.block
    .block__head.grey Опрос
    .pollBox
        %p.pollBox__text
            Отправь нам скриншот со своим отзывом с зарегистрированного почтового адреса и ПОЛУЧИ 40% СКИДКУ на любой ординар!
        %form.pollBox__form{:action => ""}
            - (1..5).each do |i|
                %label.check-case.pollBox__radio
                    %input{:type => "radio", :name => "test"}/
                    %span.field-radio
                        %i.icn-radio
                    .check-name Победа хозяев
            %input.btns.btns-primary.btns-block.pollBox__btn{:type => "submit", :value => "Проголосовать"}/
        %p.pollBox__text
            Отправь нам скриншот со своим отзывом с зарегистрированного почтового адреса и ПОЛУЧИ 40% СКИДКУ на любой ординар!
        - (1..3).each do |i|
            .pollBox__present 
                %span.name Победа хозяев
                .progres 
                    .line{:style => "width: 78%"}
                    .num 78%

        %em.pollBox__label Всего проголосовали: 111