.col-4.col-lg-3.d-xs-none.d-sm-none.d-md-none.d-lg-block
    - if $guest == true
        - if $statictics == true
            //=include _forecast.haml
        - else
            //=include _statistics.haml
        //=include _banner.haml
        //=include _poll.box.haml
        //=include _info.haml
    - else
        //=include _banner.haml