.col-4.col-lg-3
    - if $guest == true
        .block
            .block__head.grey Все прогнозы на спорт
            - ["Футбол", "Баскетбол", "Теннис", "Хоккей"].each do |i|
                .forecastsList
                    .forecastsList__head #{i}
                    %ul.forecastsList__list
                        - (1..10).each do |j|   
                            %li 
                                %a{:href => ""} Франция
        .d-xs-block.d-sm-block.d-md-block.d-lg-none
            //=include _banner.haml
            - if $statictics == true
                //=include _forecast.haml
            - else
                //=include _statistics.haml
        .block
            .block__head.grey Отзывы
            .block__body
                .feedbackBox
                    %p.feedbackBox__text
                        Отправь нам скриншот со своим отзывом с зарегистрированного почтового адреса и ПОЛУЧИ 40% СКИДКУ на любой ординар!
                    %a.feedbackBox__link{:href => ""}
                        Отправь и получи скидку!
                        %br/
                        info@timbet.ru
                    %a.btns.btns-primary.btns-block{:href => ""} Посмотреть отзывы
        .info
            %p.info__text
                Если у вас возникли вопросы, предложения или идеи, связанные с работой нашего сервиса, пожалуйста, сообщите нам об этом
            %a.info__link{:href => ""} Обратная связь
        .info
            %p.info__text
                Есть вопросы по обозначениям  ставок? Не понимаешь, что такое тотал или ИТБ1?
            %a.info__link{:href => ""} FAQ по ставкам
        .d-xs-block.d-sm-block.d-md-block.d-lg-none
            //=include _poll.box.haml
            //=include _info.haml
    - else
        .block
            .block__head.grey Личный кабинет
            .forecastsList
                .forecastsList__head Платные прогнозы
                %ul.forecastsList__list
                    %li
                        %a{:href => ""} Футбол
                    %li
                        %a{:href => ""} Баскетбол
                    %li
                        %a{:href => ""} Теннис
                    %li
                        %a{:href => ""} Хоккей
                    %li
                        %a{:href => ""} Ординар
                    %li
                        %a{:href => ""} Экспресс
                    %li.active
                        %a{:href => ""} МОИ ПОДПИСКИ
            .forecastsList
                .forecastsList__head Настройки
                %ul.forecastsList__list
                    %li 
                        %a{:href => ""} E-mail оповещения
                    %li 
                        %a{:href => ""} Смена пароля
        %a.signOut{:href => ""} Выйти
        .d-xs-block.d-sm-block.d-md-block.d-lg-none
            //=include _banner.haml