.block
    .block__head.grey Статистика
    .statistic
        %ul.statisticList
            - (1..12).each do |i|
                %li.statisticItem.statisticList__item
                    %a.statisticItem__month{:href => ""} Январь
                    - if i%2 != 0
                        %span.statisticItem__num.up +14.55
                    - else
                        %span.statisticItem__num.down -14.55
        %a.btns.btns-primary.btns-block.statistic__btn{:href => ""} Подробнее