.cards
    padding: 0 75px
    margin-bottom: 50px
    .owl-prev, .owl-next
        position: absolute
        font-size: 47px
        margin-top: -15px
        top: 50%
        color: rgba(0, 0, 0, 0.15)
        cursor: pointer
        z-index: 50
        i
            display: block
    .owl-prev
        left: 0px
    .owl-next
        right: 0px
    .item
        background: #FFFFFF
        box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.15)
        border-radius: 10px
        margin: 0px 16px 10px
        position: relative
        .img
            position: relative
            overflow: hidden
            border-radius: 10px 10px 0 0
            img
                width: 100%
                display: block
            .cardInfo
                background: rgba(0, 0, 0, 0.8)
                //border-radius: 10px 10px 0 0
                color: #fff
                font-size: 11px
                font-weight: bold
                position: absolute
                left: 0
                right: 0
                top: -100%
                height: 100%
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                justify-content: center
                padding-left: 12px
                flex-direction: column
                transition: all 150ms linear
                span
                    margin-bottom: 5px
        .btns
            margin: 43px 8px 10px
            width: calc(100% - 16px)
            text-align: center
        .name
            display: block
            font-size: 18px
            text-align: center
            text-transform: uppercase
            font-weight: bold
            color: #fff
            position: absolute
            top: 50%
            height: 40px
            left: -5px
            right: -5px
            transform: skew(-15deg) rotate(-10deg)
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            justify-content: center
            &:after
                content: ""
                position: absolute
                border-top: 6px solid #212529
                border-left: 11px solid transparent
                top: 100%
                left: -1px
            &.dark
                background: #212529
            &.gold
                background: #CCAF19
            &.green
                background: #16AA2E
            &.orange
                background: #E55011
            &.blue
                background: #118CE5
            &.purple
                background: #504C82 
            span
                transform: rotate(0deg)
                display: block
        &:hover
            .img .cardInfo
                top: 0