.compositionTeam
    border: 1px solid #F2F2F2
    thead
        tr
            th
                border-top: 1px solid #F2F2F2
                border-bottom: 1px solid #F2F2F2
                padding: 5px
                text-align: center
                font-weight: normal
                font-weight: bold
                font-size: 14px
                color: rgba(0,0,0,0.5)
                @media(max-width: 1199px)
                    padding: 5px 3px
                
    tbody
        tr
            td
                border-top: 1px solid #F2F2F2
                border-bottom: 1px solid #F2F2F2
                padding: 5px
                text-align: center
                font-size: 14px
                @media(max-width: 1199px)
                    padding: 5px 3px
                    font-size: 11px

                &[colspan]
                    font-weight: bold
                    text-align: left
                &[width]
                    text-align: left
                .date
                    white-space: nowrap
                .result
                    white-space: nowrap
                    &.danger
                        color: #B91B1B
                    &.success
                        color: #1EB91B
                    &.warning
                        color: #F1A646
                [class^="icn-"]
                    font-size: 20px
                    margin-right: 5px
                    position: relative
                    top: -1px
                    color: #5B5B5B
                    @media(max-width: 1199px)
                        font-size: 12px
            &.odd
                td
                    background: #F7F7F7