.contacts
    &__line
        margin-bottom: 21px
        font-size: 14px
        color: #212529
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-content: 
        i
            color: rgba(0, 0, 0, 0.5)
            font-size: 24px
            margin-right: 12px
        a
            text-decoration: underline
            color: #212529
    &__title
        margin-top: 41px
        margin-bottom: 15px
        font-weight: bold
        font-size: 14px
    &__form
        text-align: right
        .btns
            width: 100%
            max-width: 254px