.dateShare
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-end
    justify-content: space-between
    &__item
        .date
            color: #000
            font-size: 14px
            font-weight: bold