.expand
    position: relative
    &__btn[type=checkbox]
        z-index: 9
        left: 0
        top: 0
        width: 100%
        height: 35px
        cursor: pointer
    &__head
        background: #DAECFF
        padding: 8px
        color: #000
        font-size: 18px
        position: relative
        line-height: 1.1
        i
            position: absolute
            right: 15px
            bottom: 8px
            top: 8px
            font-size: 10px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center

    &__body
        display: none

    &__btn:checked + &__head i
        transform: rotate(180deg)
    &__btn:checked ~ &__body
        display: block