.feedbackBox
	&__text
		margin-bottom: 0
	&__link
		text-decoration: underline
		color: #000
		font-size: 14px
		font-weight: bold
		display: inline-block
		margin: 15px 0
		@media(max-width: 1199px)
			font-size: 12px
