.feedback
    margin-top: 30px
    margin-bottom: 30px
    padding: 40px 25px
    text-align: center
    overflow-x: hidden
    &__title
        margin-bottom: 40px
    &__slideShow
        padding: 0 54px
        margin: 0 0 54px
    &__slideShowSize
        height: 478px
        @media(max-width: 1199px)        
            height: 404px
        @media(max-width: 992px)        
            height: 215px
                
    