.footer
	background: #000
	padding: 57px 0 30px

.foot
	&__menus
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	&__box
		margin-right: 20px
	&__title
		font-weight: bold
		font-size: 18px
		color: #fff
		text-decoration: underline
		margin-bottom: 11px
	&__menu
		+reset-list
		li
			a
				color: #fff
				font-size: 16px
	&__copy
		text-align: center
		margin-top: 45px
		span
			font-weight: bold
			font-size: 18px
			color: #fff
			display: block
		a
			text-decoration: underline
			font-size: 14px
			color: #fff
	&__logo
		display: inline-block
		margin-bottom: 25px
	&__social
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: flex-end

		.mail
			font-weight: bold
			font-size: 14px
			margin-right: 15px
			color: #fff
			text-decoration: underline
	&__rightBar
		text-align: right
		.paymant
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			margin-top: 30px
			align-items: center
			justify-content: space-between
			@media(max-width: 991px)
				flex-wrap: wrap
				justify-content: flex-end
				i
					margin-left: 30px
					margin-bottom: 10px
					&.icon-webmoney
						order: -3
					&.icon-yandex
						order: -3
					&.icon-visa
						order: -3

