.forecastBlock
    border: 1px solid #F2F2F2
    & + .forecastBlock
        margin-top: 15px
    &___head
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-between
        background: #DAECFF
        padding: 5px 15px
        font-size: 18px
    
.forecastBox
    &.disable
        background: #F7F7F7
    &__body
        padding: 10px
        &.extend
            padding: 0
.lkBtnsBlock
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    padding-top: 15px
    &__rate, p
        flex-basis: 100%
        text-align: center
        padding-bottom: 10px
        &.extend
            margin: 0
            padding: 0
    .btns
        max-width: 200px
        width: 44%
        text-align: center
        margin: 0 3%
        &.extend
            width: 100%
            margin: 0
            max-width: 230px
.forecastItem
    border-bottom: 1px solid #D6D6D6
    padding: 5px 0
    &.extend
        border: none
        padding: 10px
        &:nth-child(even)
            background: #F7F7F7
    &__title
        text-align: center
        font-size: 14px
        color: #212529
    &__date
        text-align: center
        font-weight: bold
        color: #8F8F8F
        font-size: 12px
    &__teams
        margin-right: auto
        font-size: 14px
    &__name
        color: #038700
        font-weight: bold
        font-size: 14px
    .icn-lock
        font-size: 30px
        color: #8F8F8F
    &__rate
        margin-left: 44px
    &__body
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        padding-top: 10px
    &__btns
        padding-bottom: 10px