.form
    border: 1px solid #F2F2F2
    padding: 15px
    margin-top: 30px
    &__inner
        margin: 0 auto
        width: 300px
        text-align: center
    &__btn
        max-width: 200px
        margin-top: 10px