.forecastsList
    &__head
        font-size: 18px
        background: #DAECFF
        color: #212529
        padding: 9px 8px
        line-height: 1.1
    &__list
        +reset-list()
        padding: 15px 15px 30px
        margin-bottom: 0
        li
            margin-bottom: 3px
            a
                font-size: 14px
                color: #212529
                text-decoration: underline
            &.active
                a
                    font-weight: bold