.freeForecasts
    width: 100%
    border-spacing: 0
    border-collapse: collapse
    th, td
        border: 1px solid #F2F2F2
        padding: 10px 15px
        text-align: center
        font-size: 14px
        @media(max-width: 1199px)
            padding: 5px 10px
    thead
        th
            font-weight: normal
            color: rgba(33,37,41,0.5)
            
    tbody
        td
            &:first-child
                width: 1%
            &:nth-child(2)
                text-align: left
                padding: 0
            & > * 
                pointer-events: none
            &.rate
                font-size: 14px
                background: #F4F6F8
                box-shadow: inset 0px 3px 8px rgba(0, 0, 0, 0.15)
                font-weight: bold
                color: #000
            .date
                line-height: 1.1
            .teams
                color: #8F8F8F
                font-size: 13px
                position: relative
                min-height: 36px
                display: flex
                flex-direction: column
                justify-content: center
                padding: 10px 15px
                min-height: 56px
                @media(max-width: 1199px)
                    padding: 5px 10px
                span
                    display: block
                    font-size: 15px
                    font-weight: bold
                    color: #000
            .result
                white-space: nowrap
                text-align: center
                display: block
                &:after
                    content: ''
                    border: 10px solid transparent
                    border-left-width: 5px
                    border-right-width: 5px
                    margin-left: 5px
                    display: inline-block
                &.done
                    color: #1EB91B
                    &:after
                        border-bottom-color: #1EB91B
                        border-top: 0
                        
                &.wrong
                    color: #B91B1B
                    &:after
                        border-top-color: #B91B1B
                        border-bottom: 0
                        

        tr:hover
            td
                background: #DAECFF

        .footable-detail-row
            td, th
                padding: 0 !important
                border: none !important
                & *
                    pointer-events: auto
            th
                display: none