.header
    background: #000
    padding: 15px 0
    position: relative
    z-index: 99
    &__inner
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        @media(max-width: 991px)
            flex-wrap: wrap
    &__logo
        margin-right: auto
    &__btns
        margin-left: 15px
    &__socials
        margin: 0 15px 0 90px
        @media(max-width: 1199px)
            margin: 0 0px 0 15px
    &__mainMenu
        @media(max-width: 991px)
            order: 3
            flex-basis: 100%
            justify-content: center
            margin-top: 17px
    &__user
        position: relative
        margin-left: 86px
        @media(max-width: 1199px)
            margin-left: 40px
        @media(max-width: 991px)
            margin-left: 60px
        button
            font-size: 14px
            color: #fff
            border: none
            background: none
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            i
                margin-right: 15px
                font-size: 24px
            span
                font-size: 14px
        .ddMenu
            position: absolute
            background: #FFFFFF
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.35)
            width: 176px
            left: 0
            top: 100%
            margin-top: 15px
            display: none
            a
                font-size: 16px
                color: #000
                display: block
                padding: 8px 14px
                line-height: 1.1
                border: 1px solid transparent
                &:hover
                    background: #DAECFF
                    border: 1px solid #F7F7F7
        button:focus ~ .ddMenu
            display: block



    