.lastGames
    tbody
        tr
            td
                border: 1px solid #F2F2F2
                padding: 5px 8px
                text-align: center
                font-size: 14px
                @media(max-width: 1199px)
                    padding: 3px 5px
                &[colspan]
                    font-weight: bold
                    text-align: left
                &[width]
                    text-align: left
                &.win
                    background: #DAECFF
                .result
                    white-space: nowrap
                    display: block