.mainMenu
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    &__item
        text-transform: uppercase
        color: #fff
        font-size: 14px
        font-weight: bold
        margin: 0 12px
        &:last-child
            margin-right: 0
        &:first-child
            margin-left: 0
        &:hover
            text-decoration: none
            color: #fff