.mainHead
	padding: 60px 0
	position: relative
	z-index: 9
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	@media(max-width: 991px)
		flex-wrap: wrap
		padding: 20px 0 30px
	&__titles
		margin-right: 108px
		@media(max-width: 1199px)
			margin-right: auto
	&__title
		font-weight: bold
		color: #fff
		font-size: 45px
		letter-spacing: 4px
		text-transform: uppercase
		margin-bottom: 15px
		line-height: 1.1
		@media(max-width: 1199px)
			letter-spacing: 1px
	&__subtitle
		font-size: 24px
		color: #fff
	&__list
		+reset-list()
		color: #fff
		font-size: 14px
		margin-right: 25px
		margin-bottom: 0
		@media(max-width: 991px)
			order: 1
			flex-basis: 100%
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: space-between
			margin-top: 25px
		li
			margin-bottom: 15px
			@media(max-width: 991px)
				margin-bottom: 0