.notification
    border: 1px solid #F2F2F2
    padding: 15px
    margin-top: 30px
    &__inner
        margin: 0 auto
        width: 250px
        text-align: center
    &__btn
        max-width: 200px
        margin-top: 20px
    .check-case
        min-height: 1px
        text-align: left
        margin-bottom: 10px