.otherGames
    tbody
        tr
            td
                border-top: 1px solid #F2F2F2
                border-bottom: 1px solid #F2F2F2
                padding: 5px 8px
                text-align: center
                font-size: 12px
                font-weight: bold
                @media(max-width: 1199px)
                    padding: 3px 5px
                &:first-child
                    border-right: 1px solid #F2F2F2
                    width: 1px
                &:last-child
                    background: #F4F6F8
                    padding: 0
                    box-shadow: inset 0px 3px 8px rgba(0, 0, 0, 0.15)
                    font-size: 14px
                img
                    display: inline-block
                    max-width: 45px
                    max-height: 45px
                [class^="icn-"]
                    font-size: 27px
                    color: #5B5B5B
                .result
                    position: relative
                    min-width: 80px
                    display: block
                    min-height: 56px
                    display: -webkit-flex
                    display: -moz-flex
                    display: -ms-flex
                    display: -o-flex
                    display: flex
                    align-items: center
                    justify-content: center
                    
