.ourAdvantages
    padding: 44px 15px 30px
    margin-bottom: 0
    &__title
        margin-bottom: 40px
        text-align: center
    &__list
        +reset-list()
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        margin: 0 -15px
        justify-content: space-between
        flex-wrap: wrap
        margin-bottom: 50px
        li
            width: calc(50% - 30px)
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
            margin: 0 15px 15px
            padding: 8px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            img
                flex: 0 0 53px
                margin-right: 15px
            p
                flex: 1 1 auto
                line-height: 1.2
                margin-bottom: 0
    &__img
        text-align: center
        img
            display: block
            width: 100%
            margin-bottom: 30px