.pageHeader
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 8px
	&__title
		margin-bottom: 0