.pollBox
    padding: 15px 8px
    &__text
        font-style: italic
        margin-bottom: 10px
    &__radio
        min-height: 25px
        margin-bottom: 10px
    &__btn
        margin-top: 10px
    &__form
        margin: 0 -8px
        padding: 0 8px 15px
        border-bottom: 1px solid #F2F2F2
        margin-bottom: 15px
    &__present 
        margin-bottom: 15px    
        .name
            font-size: 14px
            display: block
            margin-bottom: 5px
        .progres
            position: relative
            font-size: 12px
            color: #6F6F6F
            padding: 6px 6px
            line-height: 1
            .num
                position: relative
                z-index: 3
            .line
                position: absolute
                height: 100%
                top: 0
                left: 0
                background: #DAECFF
    &__label
        font-style: italic
        font-style: normal
        color: #212529
        font-size: 12px
        opacity: 0.5