.share
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-end
    &__label
        font-size: 14px
        color: #000
        margin-right: 8px
        @media(max-width: 1199px)
            display: none