.slideShow
    position: relative
    &__prev, &__next
        position: absolute
        font-size: 30px
        margin-top: -15px
        top: 50%
        color: rgba(0, 0, 0, 0.15)
        cursor: pointer
        z-index: 50
        i
            display: block
    &__prev
        left: 0px
    &__next
        right: 0px
    &__carousel
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        overflow: hidden
        .item
            background: #FFFFFF
            box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.15)
            border-radius: 10px
            overflow: hidden
            margin: 0 -10px
            background: 0 0 no-repeat
            background-size: auto 100%
            transition: all 150ms linear
            flex: 0 0 auto
            width: 0
            height: 0
            //opacity: 0
            margin: 0
            position: absolute
            transition: width 200ms linear, height 200ms linear, background 200ms linear
            &[data-num="4"]
                width: 1%
                height: 100%
                z-index: 10
            &[data-num="3"],
            &[data-num="5"]
                width: 1%x
                height: 90%
                z-index: 9
            &[data-num="2"],
            &[data-num="6"]
                width: 1%
                height: 80%
                z-index: 8
            &[data-num="1"],
            &[data-num="7"]
                width: 1%
                height: 70%
                z-index: 7
            &[data-num]
                margin: 0 -10%
                position: static
                flex: 1 1 auto
                // opacity: 1
                &:hover
                    z-index: 20  
                    width: 40% 
                    height: 100%
                    background-size: 100% 100%
            &[data-num="1"],
               margin-left: 0 
            &[data-num="7"]
                margin-right: 0