.social
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    &__item
        color: rgba(255,255,255,0.5)
        font-size: 20px
        margin: 0 7px
        &:last-child
            margin-right: 0
        &:first-child
            margin-left: 0
        &:hover
            text-decoration: none
            color: rgba(255,255,255,0.5)