.specBox
    padding: 9px
    border-radius: 6px
    color: #fff
    margin-bottom: 15px
    position: relative
    &-blue
        background: linear-gradient(188.49deg, #61B2E9 21.67%, #1969B1 70%)
    &-green
        background: linear-gradient(189.32deg, #B7DC81 21.67%, #74A92F 70%)
    .btns-secondary
        width: 254px
        text-align: center
    .btns-primary
        border: 1px solid #fff
        background: #317EC4
        width: 263px
        text-align: center
    .h1
        color: #fff
        font-size: 36px
        font-weight: bold
        padding-bottom: 15px
    .h3
        color: #fff
        font-size: 18px
        font-weight: bold
        padding-bottom: 6px
        
    [class^="icon-telegram-"]
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
        border-radius: 64px
        position: absolute
        bottom: 9px
        right: 9px
    .specBoxBody
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-end
        justify-content: space-between
        span
            font-size: 14px
            color: #fff
            font-weight: bold
