.statistic
    padding-bottom: 8px    
    &__btn
        margin: 15px 8px 0
        width: calc(100% - 16px) 
.statisticList
    +reset-list()
    &__item:nth-child(odd)
        background: rgba(196, 196, 196, 0.13)

.statisticItem
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    padding: 4px 15px !important
    font-size: 14px
    &__month
        color: #000
        text-decoration: underline
        display: inline-block
    &__num
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        &:before
            content: ''
            border: 10px solid transparent
            border-left-width: 5px
            border-right-width: 5px
            margin-right: 5px
            
        &.up
            &:before
                border-bottom-color: #1EB91B
                border-top: 0
        &.down
            &:before
                border-top-color: #B91B1B
                border-bottom: 0
                margin-right: 9px
    &.extend
        flex-direction: column
        .statisticItem__num
            &:before
                display: none