.switch
    border: 1px solid rgba(33,37,41,0.5)
    box-sizing: border-box
    border-radius: 29px
    padding: 2px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    width: 220px
    a
        width: 50%
        font-size: 14px
        text-align: center
        font-weight: bold
        line-height: 1.1
        border-radius: 29px
        padding: 5px 0
        color: #212529
        &:hover
            text-decoration: none
        &.active
            color: #fff
            background: #196ECD