.tableList
    margin: 0 -15px
    &__title
        font-weight: bold
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin: 0 15px 20px
        font-size: 14px
        img
            width: 23px
            height: 14px
            margin-right: 9px
    &__item
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0
