.versusBanner
    padding: 15px 8px
    background: center no-repeat
    background-size: cover
    margin-bottom: 15px
    text-align: center
    &__text
        font-size: 17px
        font-weight: bold
        color: #fff
        margin: 15px 0 30px
    &__vs
        font-size: 41px
        margin: 30px 0
        font-weight: bold
        color: #fff
        display: block
    &__team
        font-weight: bold
        color: #fff
        text-align: center
        img
            max-width: 80px
            max-height: 80px
            margin-bottom: 15px
        span
            display: block
            font-size: 22px
    &__btn
        margin-top: 50px
            