.versusBlock
    background: center no-repeat
    background-size: cover
    text-align: center
    padding-bottom: 15px
    position: relative
    &.football
        +retina("../img/footboll", ".jpg")
    &.basketball
        +retina("../img/basketball", ".jpg")
    &.hokey
        +retina("../img/hokey", ".jpg")
    &.tennis
        +retina("../img/tennis", ".jpg")
    &__teams
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-end
        justify-content: space-around
        padding: 40px 0
    &:after
        content: ""
        position: absolute
        left: 0
        bottom: 0
        height: 130px
        width: 100%
        background: url("../img/angle.svg") center top no-repeat
        background-size: cover 
    &__team
        position: relative
        z-index: 99
        img
            max-width: 105px
            max-height: 105px
            margin-bottom: 52px
        span
            font-weight: bold
            font-size: 18px
            color: #000
            text-align: center
            flex: 1 1 auto
            display: block

    &__info
        color: #fff
        font-size: 14px
        align-self: flex-start
        margin-top: 20px
        position: relative
        z-index: 100
        span
            line-height: 1.2
            display: block
            &.green
                font-size: 24px
                color: #1EB91B
                margin: 5px 0
            &.bold
                font-weight: bold
                font-size: 18px
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                align-items: center
                .icn-lock-o
                    margin-left: 5px
                .infoTool
                    display: inline-block
                    position: relative
                    margin-left: 5px
                    & > i
                        color: #196ECD
                    .window
                        position: absolute
                        left: 13px
                        bottom: 13px
                        padding: 5px
                        border-radius: 5px
                        font-size: 10px
                        color: #000
                        background: #fff
                        font-weight: normal
                        width: 120px
                        text-align: left
                        display: none
                    &:hover
                        .window
                            display: block


    &__btn
        width: 100%
        max-width: 254px
        position: relative
        z-index: 99
    &__btns
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        position: relative
        justify-content: space-between
        z-index: 99
        margin: 0 25px
        .btns
            width: 48%


            
