!!!5
%html
    //=include components/_head.haml
    %body
        - $guest = true
        //=include components/_header.haml
        %main
            %img.background{:src => "assets/img/image.jpg", :alt => ""}/
            //=include components/_main.head.haml
            .container
                .row
                    .col-12
                        .content
                            .row
                                //=include components/_sidebar.left.haml
                                .col-8.col-lg-6
                                    .breadCrumb
                                        %a{:href => ""} Главная
                                        %span Контакты
                                    .block
                                        .block__body
                                            %h1.h1 Контакты
                                            .contacts
                                                .contacts__line
                                                    Адрес электронной почты: 
                                                    %a{:target => "_blank", :href => "https://info@timbet.ru"} info@timbet.ru
                                                .contacts__line
                                                    %i.icn-vk 
                                                    Вконтакте: 
                                                    %a{:target => "_blank", :href => "https://vk.com/timbetru"} vk.com/timbetru
                                                .contacts__line
                                                    %i.icn-instagram 
                                                    Instagram: 
                                                    %a{:target => "_blank", :href => "https://instagram.com/timbet.ru"} instagram.com/timbet.ru
                                                .contacts__line
                                                    %i.icn-telegram 
                                                    Telegram: 
                                                    %a{:href => "@Timbetru"} @Timbetru

                                                %h5.contacts__title Можете написать нам прямо сейчас:
                                                %form.contacts__form{:action => ""}
                                                    .row
                                                        .col
                                                            .field-case
                                                                %input.field{:type => "", :name => "", :placeholder => "Ваше имя", :required => "true"}/
                                                        .col
                                                            .field-case
                                                                %input.field{:type => "", :name => "", :placeholder => "Ваш E-mail", :required => "true"}/
                                                    .field-case
                                                        %textarea.field{:name => "", :placeholder => "Ваше сообщение", :required => "true"}
                                                    %input.btns.btns-primary{:type => "submit", :value => "Отправить"}/


                                    
                                //=include components/_sidebar.right.haml
        //=include components/_footer.haml
    