!!!5
%html
    //=include components/_head.haml
    %body
        - $guest = true
        //=include components/_header.haml
        %main
            %img.background{:src => "assets/img/image.jpg", :alt => ""}/
            //=include components/_main.head.haml
            .container
                .row
                    .col-12
                        .content
                            .row
                                //=include components/_sidebar.left.haml
                                .col-8.col-lg-6
                                    .breadCrumb
                                        %a{:href => ""} Главная
                                        %a{:href => ""} Футбол 
                                        %span Бразилия
                                    .block
                                        .block__body
                                            %h1.h1 БРАЗИЛИЯ
                                            .tableList
                                                - (1..2).each do |i|
                                                    .tableList__item
                                                        .tableList__title
                                                            %img{:src => "assets/pictures/flag.jpg", :alt => ""}/
                                                            Бразилия: Либертадорес
                                                        %table.freeForecasts.js-freeForecasts
                                                            %thead
                                                                %tr
                                                                    %th
                                                                        %i.icn-calendar
                                                                    %th Матчи
                                                                    %th Коэф.
                                                                    %th Результат
                                                                    %th{"data-breakpoints" => "all"}
                                                            %tbody
                                                                - (1..5).each do |j|
                                                                    %tr
                                                                        %td
                                                                            .date
                                                                                14
                                                                                %br/
                                                                                дек.
                                                                        %td{:width => "100%"}
                                                                            .teams
                                                                                %span Крузейро - Бока Х
                                                                                - if j == 1 || j == 2
                                                                                    .vip
                                                                        %td.rate
                                                                            1.52
                                                                        %td 
                                                                            %span ---
                                                                        %td{"data-breakpoints" => "all"} 
                                                                            .versusBlock.football
                                                                                - if j == 1 || j == 2
                                                                                    .vip
                                                                                .versusBlock__teams
                                                                                    .versusBlock__team
                                                                                        %img{:src => "assets/pictures/team1.png", :alt => ""}/
                                                                                        %span Крузейро
                                                                                    .versusBlock__info
                                                                                        %span Сегодня в 20:00
                                                                                        %span.green коэф. 1.6
                                                                                        %span.bold 
                                                                                            Обе забьют
                                                                                            - if j == 1
                                                                                                %i.icn-lock-o
                                                                                    .versusBlock__team
                                                                                        %img{:src => "assets/pictures/team2.png", :alt => ""}/
                                                                                        %span Бока

                                                                                - if j == 1
                                                                                    %a.btns.btns-primary.versusBlock__btn{:href => ""} Купить прогноз
                                                                                - elsif j == 2
                                                                                    .versusBlock__btns
                                                                                        %a.btns.btns-info{:href => ""} Купон
                                                                                        %a.btns.btns-primary{:href => ""} Сделать ставку
                                                                                - else     
                                                                                    %a.btns.btns-primary.versusBlock__btn{:href => ""} Сделать ставку
                                //=include components/_sidebar.right.haml
        //=include components/_footer.haml
    