!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        .wrapper
            %br/
            %h3 Tags Style
            %br/
            %h1 H1 - Helvetica - 20px Lorem ipsum dolor sit amet
            %br/
            %h2 H2 - Helvetica - 20px Lorem ipsum dolor sit amet
            %br/
            %h3 H3 - Helvetica - 18px Lorem ipsum dolor sit amet
            %br/
            %h4 H4 - Helvetica - 18px Lorem ipsum dolor sit amet
            %br/
            %h5 H5 - Helvetica - 18px Lorem ipsum dolor sit amet
            %br/
            %h6 H6 - Helvetica - 18px Lorem ipsum dolor sit amet
            %br/
            %p p - Helvetica - 14px  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium deleniti, accusamus nihil nulla perferendis, quisquam dicta voluptates ea deserunt dolore voluptate quam? Aspernatur in, obcaecati! Officia libero molestias, vitae facere.
            %br/
            %strong strong - Helvetica - 14px Lorem ipsum dolor sit amet
            %br/
            %br/
            %em em - Helvetica - 14px Lorem ipsum dolor sit amet
            %br/
            %br/
            %table{:cellspacing => "0"}
                %caption Table Caption
                %thead
                    %tr
                        %th Table th
                        %th Table th
                        %th Table th
                        %th Table th
                %tbody
                    - (1..5).each do |i|
                        %tr
                            %td 
                                Order #32403429348 from 05/12/2017
                            %td Completed
                            %td 2
                            %td 
                                %strong $89.95
            %br/
            %br/
            %ul
                %li ul - Arial - 14px Lorem ipsum dolor sit amet
                %li ul - Arial - 14px Lorem ipsum dolor sit amet
            %br/
            %ol
                %li ol - Arial - 14px Lorem ipsum dolor sit amet
                %li ol - Arial - 14px Lorem ipsum dolor sit amet
            
            %br/
            %br/
            %br/
            %hr/
            %br/
            %br/
            %h3 Icons
            %br/
            %div{:style => "font-size: 20px"}
                %i.icn-angle-down
                %i.icn-angle-left
                %i.icn-angle-right
                %i.icn-angle-up
                &nbsp;
                &nbsp;
                %i.icn-bars
                %i.icn-close
                %i.icn-checkbox
                %i.icn-radio
                &nbsp;
                &nbsp;
                %i.icn-facebook
                %i.icn-twitter
                %i.icn-linkedin
                %i.icn-youtube
                %i.icn-instagram 
                %i.icn-telegram
                %i.icn-vk
            %br/
            %br/
            %div
                %i.icon-instagram.icon-instagram-size 
                %i.icon-telegram.icon-telegram-size 
                %i.icon-vk.icon-vk-size 
                %i.icon-whatsApp.icon-whatsApp-size 
                
            %br/
            %br/
            %br/
            %hr/
            %br/
            %br/
            %h3 Form elements
            %br/
            .elements
                .row
                    .col-6
                        .field-case
                            %label.field-name Field name
                            %input.field{:type => "text", :placeholder => "Field", :name => ""}/
                        
                        .field-case
                            %label.field-name Field name
                            %input.field.error{:type => "text", :placeholder => "Field wrong", :value => "Field wrong", :name => ""}/
                            %label.error Wrong text

                        .field-case
                            %label.field-name Field name
                            %input.field{:type => "text", :placeholder => "Field disabled", :disabled => "disabled", :name => ""}/
                        .field-case
                            %label.field-name  Field name
                            .file-case
                                %a.btns.btns-primary Attach file
                                %input{:type => "file", :multiple => "", :accept => "image/jpeg, application/msword, application/pdf", :enctype => "multipart/form-data", :name => ""}/  
                                .field 
                                    Attach files (doc, pdf less 2 mb) 
                    .col-6
                        .field-case
                            %label.field-name Field name
                            %select.field{:name => ""}
                                %option{:value => ""} Select field
                                - (1..5).each do |i|
                                    %option{:value => ""} Select item #{i}
                            %i.icn-angle-down
                        .field-case
                            %label.field-name Field name
                            %select.field.error{:name => ""}
                                %option{:value => ""} Select field wrong
                                - (1..5).each do |i|
                                    %option{:value => ""} Select item #{i}
                            %label.error Wrong text
                            %i.icn-angle-down
                        .field-case
                            %label.field-name Field name
                            %select.field{:name => "", :disabled => "disabled"}
                                %option{:value => ""} Select field disabled
                                - (1..5).each do |i|
                                    %option{:value => ""} Select item #{i}
                            %i.icn-angle-down
                    .col-12
                        .field-case
                            %label.field-name Textarea
                            %textarea.field{:name => "", :placeholder => "Textarea"}
                    .col-6
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "checkbox", :name => ""}/
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name 
                                    checkbox default 
                                    %a{:href => "#"}  Accept all terms of service
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input.error{:type => "checkbox", :name => ""}/
                                %label.error Wrong text
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name checkbox wrong
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "checkbox", :disabled => "disabled", :name => ""}/
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name checkbox disabled
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "checkbox", :disabled => "disabled", :checked => "checked", :name => ""}/
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name checkbox disabled checked  
                    .col-6
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "radio", :name => "test"}/
                                %span.field-radio
                                    %i.icn-radio
                                %span.check-name radio default
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input.error{:type => "radio", :name => ""}/
                                %label.error Wrong text
                                %span.field-radio
                                    %i.icn-radio
                                %span.check-name radio default
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "radio", :disabled => "disabled", :name => ""}/
                                %span.field-radio
                                    %i.icn-radio
                                %span.check-name radio disabled
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "radio", :disabled => "disabled", :checked => "checked", :name => ""}/
                                %span.field-radio
                                    %i.icn-radio
                                .check-name radio disabled checked 
            %br/        
            %br/
            %h3 Buttons
            %br/
            %button.btns.btns-primary Button Priamary 
            &nbsp;
            %button.btns.btns-secondary Button Secondary 
            &nbsp;
            %button.btns.btns-info Button Info 
            &nbsp;
            %button.btns.btns-primary.disabled Button Disabled 
            &nbsp;
            %br/
            %br/
            %br/
            %br/

        //=include components/_footer.haml