!!!5
%html
    //=include components/_head.haml
    %body
        - $guest = true
        //=include components/_header.haml
        %main
            %img.background{:src => "assets/img/image.jpg", :alt => ""}/
            //=include components/_main.head.haml
            .container
                .row
                    .col-12
                        .content
                            .row
                                //=include components/_sidebar.left.haml
                                .col-8.col-lg-6
                                    .breadCrumb
                                        %a{:href => ""} Главная
                                        %span FAQ
                                    .block
                                        .block__body
                                            %h1.h1 FAQ
                                            %p
                                                %strong Ординар -
                                                самый простой тип ставок, предпочитаемый большинством игроков. Такой тип ставки предполагает выбор одного из возможных исходов события. Чаще всего это победа одной команды над другой. Если ставка сыграла, игрок получает выигрыш, равный сумме ставки, умноженной на коэффициент для данного исхода. Данный тип пари возможен независимо от того, на какой вид спорта делать ставки. Он актуален для любой спортивной дисциплины.

                                            %p
                                                %strong Ставки на исход
                                                %br/
                                                Обозначения и расшифровки:
                                                %br/
                                                %strong П1 — 
                                                Победа 1-го игрока/команды.
                                                %br/
                                                %strong П2 — 
                                                Победа 2-го игрока/команды.
                                                %br/
                                                %strong Х — 
                                                Ничья.
                                                %br/
                                                %strong 1Х — 
                                                Победа 1-го игрока/команды или ничья.
                                                %br/
                                                %strong Х2 — 
                                                Победа 2-го игрока/команды или ничья.
                                                %br/
                                                %strong 12 — 
                                                Победа 1-го либо 2-го игрока/команды. В данной ставке исключается ничейный исход
                                                %br/
                                                %br/
                                                %strong Пример: 
                                                Барселона - Реал Мадрид: Х2
                                                %br/
                                                Данная ставка выигрывает либо в случае победы Мадрида, либо при ничейном исходе.

                                            %p
                                                %strong Ставки с форой
                                                %br/
                                                Такие ставки используются в том случае, когда один из участников спортивного события является явным фаворитом. В таком случае стандартные ставки становятся непривлекательными для игроков, поскольку коэффициент на победу лидера будет совсем небольшим. Чтобы привлечь внимание к подобным матчам была создана фора: преимущество для более слабого игрока. Оно может выражаться в голах, минутах, очках и т.д. в зависимости от вида спорта. Фора прибавляется к итоговому результату встречи и учитывается при определении итогов пари. Фора может выражаться целым (1,2,3 и т.д) или дробным (0,5; 1,5; 2,5 …) числом.
                                                %br/
                                                %br/

                                                Обозначения и расшифровки:
                                                %br/
                                                %strong Ф1(...) — 
                                                Победа 1-го игрока/команды с учетом форы, указанной в скобках.
                                                %br/
                                                %strong Ф2(...) — 
                                                Победа 2-го игрока/команды с учетом форы, указанной в скобках.
                                                %br/
                                                %strong Пример: 
                                                Челси - Манчестер Сити: Ф1 (-1,5)
                                                Данная ставка выигрывает в том случае, если матч закончится с преимуществом Челси не менее чем в 2 мяча.

                                            %p
                                                %strong Ставки на тотал
                                                %br/
                                                Тотал в ставках означает суммарный результат матча, например, общее количество голов, шайб, очков и т.д. Чаще всего такой тип ставок используется в футболе. Чтобы выиграть, беттеру необходимо угадать общее число голов, забитых обеими командами за все время игры. Некоторые букмекеры в данном случае учитывают только основное время, другие - также учитывают дополнительное. На это нужно обратить внимание, прежде, чем сделать ставку.
                                                %br/
                                                %br/
                                                Существуют различные виды таких ставок, например, ставка на тотал больше. В таком случае ставка выигрывает, если количество забитых голов больше, чем предложенное игроком значение. Тотал может выражаться целым или дробным числом. В первом случае возможны ситуации, когда ставка возвращается игроку, во втором - это исключено. Так же ставки делаются на индивидуальные тоталы игроков.
                                                %br/
                                                %br/
                                                Обозначения и расшифровки:
                                                %br/
                                                %strong ТБ(...) — 
                                                Кол-во голов (очков) будет больше указанного в скобках.
                                                %br/
                                                %strong ТМ(...) — 
                                                Кол-во голов (очков) будет меньше указанного в скобках.
                                                %br/
                                                %strong ИТБ1(...) — 
                                                Индивидуальное кол-во голов (очков) 1-го игрока/команды указываемого будет больше указанного в скобках.
                                                %br/
                                                %strong ИТБ2(...) — 
                                                Индивидуальное кол-во голов (очков) 2-го игрока/команды указываемого будет больше указанного в скобках.
                                                %br/
                                                %strong ИТМ1(...) — 
                                                Индивидуальное кол-во голов (очков) 1-го игрока/команды указываемого будет меньше указанного в скобках.
                                                %br/
                                                %strong ИТМ2(...) — 
                                                Индивидуальное кол-во голов (очков) 2-го игрока/команды указываемого будет меньше указанного в скобках.
                                                %br/
                                                %strong Пример: 
                                                Спартак - Зенит: ТБ(2,5)
                                                Данная ставка выигрывает в том случае, если команды забьют на двоих от 3х мячей и более.
                                            %p
                                                %strong Ставка тайм/матч
                                                %br/
                                                В этом случае ставка делается не только на итоговый результат матча, а еще и на счет первого тайма. Ставка данного типа выигрывает, если верны оба прогноза игрока. Для пари такого типа характерны повышенные коэффициенты, однако, риск проиграть достаточно велик.
                                                %br/ 
                                                %br/
                                                Обозначения и расшифровки:
                                                %br/
                                                %strong П1П1 — 
                                                Победа 1-го игрока/команды в первом тайме и в матче (др. варианты: П2П2)
                                                %br/
                                                %strong НП1 — 
                                                Ничья в 1-ом тайме и итоговая победа 1-го игрока/команды. (др. варианты: П1Н, П2Н, НП2)
                                                %br/
                                                %strong П2П1 — 
                                                Победа 2-го игрока/команды в первые 45 минут и итоговая победа хозяев (др. варианты: П1П2).
                                                %br/
                                                %strong НН — 
                                                Оба тайма будут сыграны в ничью
                                                %br/
                                                %strong Пример: 
                                                Милан - Ювентус: НП1
                                                %br/
                                                Данная ставка выигрывает в том случае, если первый тайм команды закончат в ничью, но в итоге в матче победит Милан.

                                            %p
                                                %strong Экспрессы
                                                Такой тип ставок интересен игрокам, которые хотят получить хорошую прибыль. Экспресс - это совокупность ставок на несколько никак не взаимосвязанных событий. Это могут быть различные спортивные лиги и виды спорта.
                                                Для победы в экспрессе необходимо, чтобы совершились все выбранные исходы. В таком случае итоговый коэффициент определяется умножением друг на друга всех коэффициентов, входящих в экспресс. Таким образом, игрок может получить высокую прибыль, но велик и риск проигрыша.
                                    .block
                                        .block__body
                                            %h1.h1 Часто задаваемые вопросы

                                            %p
                                                %strong Куда будет приходить платный прогноз?
                                                %br/
                                                Платные прогнозы размещаются в Личном кабинете. В это время вам на почту приходит E-mail уведомление.

                                            %p
                                                %strong Какой коэффициент у платных прогнозов?
                                                %br/
                                                Мы не гонимся за высокими коэффициентами и не обещаем Вам 100% проходимости, мы работаем честно и прозрачно. Коэффициент платного прогноза около 2х, а проходимость - 81-90%

                                            %p
                                                %strong Как получить доступ к платным прогнозам?
                                                %br/
                                                Необходимо зарегистрироваться на сайте. При регистрации на сайте разрешите присылать вам уведомления на указанный E-mail, и после оплаты вам на почту придет сообщение о готовности купленных прогнозов, которые вы можете увидеть на сайте Тимбет в Личном кабинете.

                                            %p
                                                %strong В какой валюте вы принимаете оплату?
                                                %br/
                                                Мы принимаем любою валюту. Перед покупкой ознакомьтесь с курсом валют или спросите у нас сколько это будет стоить. Оплатить можно любым способом, который вы укажете. При оплате картой валюты автоматически конвертируются, и вы платите в своей валюте. Поэтому оплата банковской картой - самый удобный способ.

                                            %p
                                                %strong Какие преимущества у пакета прогнозов?
                                                %br/
                                                Преимущество пакета из 5 и 10 прогнозов - это выгода. 1 прогноз по конкретному виду спорта стоит 999 рублей. Приобретая пакет из 5 прогнозов, вы экономите 996 рублей, а при покупке 10 прогнозов - 1991 рубль по сравнению с покупкой прогнозов по отдельности.

                                            %p
                                                %strong Забыл пароль от Личного кабинета, что делать?
                                                %br/
                                                Вы всегда можете восстановить пароль в разделе "Регистрация". Для этого нужно нажать «Забыли пароль?» и следовать дальнейшей инструкции.

                                    
                                //=include components/_sidebar.right.haml
        //=include components/_footer.haml
    