!!!5
%html
    //=include components/_head.haml
    %body
        - $guest = true
        //=include components/_header.haml
        %main
            %img.background{:src => "assets/img/image.jpg", :alt => ""}/
            //=include components/_main.head.haml
            .container
                .row
                    .col-12
                        .content
                            .feedbackPage
                                .row
                                    //=include components/_sidebar.left.haml
                                    .col-8.col-lg-6
                                        .breadCrumb
                                            %a{:href => ""} Главная
                                            %span Отзывы
                                        .block
                                            .block__body
                                                %h1.h1 ОТЗЫВЫ НАШИХ КЛИЕНТОВ
                                                %p
                                                    Отправь на почту 
                                                    %a{:href => ""} info@timbet.ru 
                                                    скриншот со своим отзывом 
                                                    с зарегистрированного почтового адреса и ПОЛУЧИ 50% СКИДКУ на любой ординар!
                                                .slideShow.feedbackPage__slideShow.js-feedback
                                                    .slideShow__carousel.feedbackPage__slideShowSize.js-carousel
                                                        - (1..7).each do |i|
                                                            .item{"data-num" => "#{i}", :style => "background-image: url('assets/pictures/#{i}@2x.jpg')"}
                                                        - (1..3).each do |i|
                                                            - (1..10).each do |i|
                                                                .item{ :style => "background-image: url('assets/pictures/#{i}@2x.jpg')"}
                                                    .slideShow__prev.js-prev
                                                        %i.icn-treg-left
                                                    .slideShow__next.js-next
                                                        %i.icn-treg-right
                                            
                                        //=include components/_other.games.haml
                                    //=include components/_sidebar.right.haml
        //=include components/_footer.haml
    