!!!5
%html
    //=include components/_head.haml
    %body
        - $guest = true
        //=include components/_header.haml
        %main
            %img.background{:src => "assets/img/image.jpg", :alt => ""}/
            //=include components/_main.head.haml
            .container
                .row
                    .col-12
                        .content
                            .forecastPage
                                .row
                                    //=include components/_sidebar.left.haml
                                    .col-8.col-lg-6
                                        .breadCrumb
                                            %a{:href => ""} Главная
                                            %a{:href => ""} Футбол
                                            %a{:href => ""} Бразилия
                                            %a{:href => ""} Либертадорес
                                            %span Крузейро - Бока Х
                                        .block
                                            %h1.h1.block__title ПРОГНОЗ НА МАТЧ КРУЗЕЙРО - БОКА Х
                                            .block__date.dateShare
                                                .dateShare__item 
                                                    %span.date 11.12.2018  13:00, Либертадорес
                                                .share.dateShare__item
                                                    .share__label Поделиться:
                                                    .share__content
                                                        %script{:src => "//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"}
                                                        %script{:src => "//yastatic.net/share2/share.js"}
                                                        .ya-share2{"data-services" => " vkontakte,facebook,odnoklassniki,moimir,telegram"}
                                            .versusBlock.football
                                                .versusBlock__teams
                                                    .versusBlock__team
                                                        %img{:src => "assets/pictures/team1.png", :alt => ""}/
                                                        %span Крузейро
                                                    .versusBlock__info
                                                        %span Сегодня в 20:00
                                                        %span.green коэф. 1.6
                                                        %span.bold 
                                                            Обе забьют
                                                            .infoTool
                                                                %i.icn-info
                                                                .window
                                                                    Не знаете, что означает данный исход? 
                                                                    %br/
                                                                    %br/
                                                                    %a{:href => ""} FAQ по ставкам
                                                    .versusBlock__team
                                                        %img{:src => "assets/pictures/team2.png", :alt => ""}/
                                                        %span Бока

                                                %a.btns.btns-primary.versusBlock__btn{:href => ""} Сделать ставку
                                            .block__body
                                                %h5 Аналитика и статистика
                                                %ol.forecastPage__list
                                                    %li
                                                        %span.forecastPage__link{'data-scrollTo' => "#forecast"} Прогноз
                                                    %li
                                                        %span.forecastPage__link{'data-scrollTo' => "#recaps"} Составы команд
                                                    %li
                                                        %span.forecastPage__link{'data-scrollTo' => "#games"} Сравнение последних игр
                                                #forecast
                                                    %h5 Прогноз от Timbet
                                                    %p
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                                                        %br/
                                                        %br/
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                                                        %br/
                                                        %br/
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget
                                                        %br/
                                                        %br/
                                                        Наш прогноз на эту игру - тотал меньше 2.5 по коэффициенту 1.45.
                                                        %br/
                                                        %br/
                                                        Коэффициент актуален в момент публикации прогноза!
                                                - (1..2).each do |i|
                                                    .expand.block__expand{:id => "#{i == 1 ? 'recaps' : ''}"}
                                                        %input.expand__btn{:type => "checkbox"}/
                                                        .expand__head
                                                            Состав команды кузейро
                                                            %i.icn-angle-up
                                                        .expand__body
                                                            %table.compositionTeam
                                                                %thead
                                                                    %tr
                                                                        %th №
                                                                        %th Имя
                                                                        %th Возр.
                                                                        %th
                                                                            %i.icon-shirt.icon-shirt-size{:title => "Матчи"}
                                                                        %th
                                                                            %i.icon-ball.icon-ball-size{:title => "Голы"}
                                                                        %th
                                                                            %i.icon-arrow-ball.icon-arrow-ball-size{:title => "Голевой пас"}
                                                                        %th
                                                                            %i.icon-yell-card.icon-yell-card-size{:title => "Желтая карточка"}
                                                                        %th
                                                                            %i.icon-red-card.icon-red-card-size{:title => "Карасная карточка"}
                                                                %tbody
                                                                    - (1..3).each do |i|
                                                                        %tr
                                                                            %td{:colspan => "8"}  Вратарь
                                                                        - (1..6).each do |i|
                                                                            - if i%2 == 0 
                                                                                %tr
                                                                                    %td 22
                                                                                    %td{:width => "100%"} Александр Сжимановски
                                                                                    %td 27
                                                                                    %td 10
                                                                                    %td 10
                                                                                    %td 10
                                                                                    %td 10
                                                                                    %td 10
                                                                            - else
                                                                                %tr.odd
                                                                                    %td 22
                                                                                    %td{:width => "100%"} Александр Сжимановски
                                                                                    %td 27
                                                                                    %td 10
                                                                                    %td 10
                                                                                    %td 10
                                                                                    %td 10
                                                                                    %td 10
                                                .expand#games
                                                    %input.expand__btn{:type => "checkbox"}/
                                                    .expand__head
                                                        Последние игры
                                                        %i.icn-angle-up
                                                    .expand__body
                                                        %table.lastGames
                                                            %tbody
                                                                - (1..2).each do |i|
                                                                    %tr
                                                                        %td{:colspan => "7"}  Спартак
                                                                    - (1..5).each do |i|
                                                                        %tr.odd
                                                                            %td 12.12.18
                                                                            %td 
                                                                                %img{:src => "assets/pictures/flag.jpg", :alt => ""}/
                                                                            %td ФНЛ
                                                                            - if i == 5
                                                                                %td{:width => "50%"} Спартак
                                                                                %td.win{:width => "50%"} Мордовия
                                                                            - else
                                                                                %td.win{:width => "50%"} Спартак
                                                                                %td{:width => "50%"} Мордовия
                                                                            %td 
                                                                                %span.result 2 : 2
                                                                            %td 
                                                                                - if i == 2
                                                                                    %span.exodus.danger П
                                                                                - elsif i == 4
                                                                                    %span.exodus.success В
                                                                                - else    
                                                                                    %span.exodus.warning Н
                                        //=include components/_other.games.haml
                                    //=include components/_sidebar.right.haml
        //=include components/_footer.haml
    