!!!5
%html
    //=include components/_head.haml
    %body
        - $guest = true
        //=include components/_header.haml
        %main
            %img.background{:src => "assets/img/image.jpg", :alt => ""}/
            //=include components/_main.head.haml
            .container
                .row
                    .col-12
                        .content
                            .cards.owl-carousel.js-cards
                                - [["Футбол", "green", "football"], ["Баскетбол", "orange", "basketball"], ["Теннис", "purple", "tennis"], ["Хоккей", "blue", "hokey"], ['ОРДИНАР', 'dark', 'ordinar'], ["ЭКСПРЕСС", "gold", "express"]].each do |i|
                                    .item
                                        .img
                                            %img{:src => "assets/img/#{i[2]}-card.jpg", :alt => ""}/
                                            .cardInfo
                                                %span Проходимость: 87.7%
                                                %span Средний коэф.: 2.31
                                                %span Цена прогноза - 299 руб.
                                        %span.name{:class=>"#{i[1]}"} #{i[0]}
                                        %a.btns.btns-primary{:href => ""} Купить
                            .row
                                //=include components/_sidebar.left.haml
                                .col-8.col-lg-6
                                    .pageHeader
                                        %h1.pageHeader__title БЕСПЛАТНЫЕ ПРОГНОЗЫ
                                        .switch
                                            %a.active{:href => ""} Сегодня
                                            %a{:href => ""} Завтра
                                    - [["Футбол", "green", "football"], ["Баскетбол", "orange", "basketball"], ["Теннис", "purple", "tennis"], ["Хоккей", "blue", "hokey"]].each do |i|
                                        .block
                                            .block__head{:class => "#{i[1]}"} #{i[0]}
                                            %table.freeForecasts.js-freeForecasts
                                                %thead
                                                    %tr
                                                        %th
                                                            %i.icn-pin
                                                        %th Матчи
                                                        %th Коэф.
                                                        %th Результат
                                                        %th{"data-breakpoints" => "all"}
                                                %tbody
                                                    - (1..9).each do |j|
                                                        %tr
                                                            %td
                                                                %img{:src => "assets/pictures/flag.jpg", :alt => ""}/
                                                            %td{:width => "100%"}
                                                                .teams
                                                                    %span Крузейро - Бока Х
                                                                    03:35 ЛИБЕРТАДОРЕС
                                                                    - if j == 2 || j == 3
                                                                        .vip
                                                            %td.rate
                                                                1.52
                                                            %td 
                                                                - if j == 4
                                                                    %span.result.done Прошел
                                                                - elsif j == 5
                                                                    %span.result.wrong Не прошел
                                                                - else 
                                                                    %span ...
                                                            %td{"data-breakpoints" => "all"} 
                                                                .versusBlock{:class => "#{i[2]}"}
                                                                    - if j == 2 || j == 3
                                                                        .vip
                                                                    .versusBlock__teams
                                                                        .versusBlock__team
                                                                            %img{:src => "assets/pictures/team1.png", :alt => ""}/
                                                                            %span Крузейро
                                                                        .versusBlock__info
                                                                            %span Сегодня в 20:00
                                                                            %span.green коэф. 1.6
                                                                            %span.bold 
                                                                                Обе забьют
                                                                                - if j == 2
                                                                                    %i.icn-lock-o
                                                                        .versusBlock__team
                                                                            %img{:src => "assets/pictures/team2.png", :alt => ""}/
                                                                            %span Бока
                                                                    - if j == 2
                                                                        %a.btns.btns-primary.versusBlock__btn{:href => ""} Купить прогноз
                                                                    - elsif j == 3
                                                                        .versusBlock__btns
                                                                            %a.btns.btns-info{:href => ""} Купон
                                                                            %a.btns.btns-primary{:href => ""} Сделать ставку
                                                                    - else     
                                                                        %a.btns.btns-primary.versusBlock__btn{:href => ""} Сделать ставку
                                        - if i[0] == "Баскетбол"
                                            .specBox.specBox-green
                                                .h1 Хабиб - Конор
                                                .specBoxBody
                                                    %span
                                                        ПРОГНОЗ 
                                                        %br/
                                                        С КОЭФИЦИЕНТОМ 3.2
                                                    %a.btns.btns-secondary{:href => ""} Сделать ставку 
                                    .specBox.specBox-blue
                                        .h3
                                            Получай прогнозы в Telegram 
                                            %br/
                                            БЕСПЛАТНО
                                        %a.btns.btns-primary{:href => ""} Подписаться на канал 
                                        %i.icon-telegram-78x78.icon-telegram-78x78-size 
                                //=include components/_sidebar.right.haml
                            .row
                                .col-12
                                    .block.feedback
                                        %h2.h1.feedback__title ОТЗЫВЫ НАШИХ КЛИЕНТОВ
                                        .slideShow.feedback__slideShow.js-feedback
                                            .slideShow__carousel.feedback__slideShowSize.js-carousel
                                                - (1..7).each do |i|
                                                    .item{"data-num" => "#{i}", :style => "background-image: url('assets/pictures/#{i}@2x.jpg')"}
                                                - (1..3).each do |i|
                                                    - (1..10).each do |i|
                                                        .item{ :style => "background-image: url('assets/pictures/#{i}@2x.jpg')"}
                                            .slideShow__prev.js-prev
                                                %i.icn-treg-left
                                            .slideShow__next.js-next
                                                %i.icn-treg-right
                                        %a.btns.btns-primary{:href => ""} Начать зарабатывать
                            .row
                                .col-12
                                    .block.ourAdvantages
                                        %h2.h1.ourAdvantages__title НАШИ ПРЕИМУЩЕСТВА
                                        %ul.ourAdvantages__list
                                            %li
                                                %img{:src => "assets/img/ad-icon1.svg", :alt => ""}/
                                                %p
                                                    Доступные цены на прогнозы
                                            %li
                                                %img{:src => "assets/img/ad-icon4.svg", :alt => ""}/
                                                %p
                                                    Быстрая и профессиональная помощь любому новичку
                                            %li
                                                %img{:src => "assets/img/ad-icon2.svg", :alt => ""}/
                                                %p
                                                    Обрабатываем тысячи матчей и собираем надежную статистику у команд
                                            %li
                                                %img{:src => "assets/img/ad-icon5.svg", :alt => ""}/
                                                %p
                                                    Каждый эксперт отвечает за свой вид спорта
                                            %li
                                                %img{:src => "assets/img/ad-icon3.svg", :alt => ""}/
                                                %p
                                                    Используем математические и экспертные методы анализа
                                            %li
                                                %img{:src => "assets/img/ad-icon6.svg", :alt => ""}/
                                                %p
                                                    Повышаем безопасность и достоверность прогнозов
                                        .row
                                            .col-6
                                                %h5 
                                                    Следите за спортом и миром футбола?
                                                    %br/
                                                    Увлекаетесь прогнозами на спорт?
                                                %p
                                                    Timbet предлагает полное сопровождение в сфере ставок – от предоставления прогнозов с проходимостью выше 85% до ссылки на букмекерскую контору с высоким коэффициентом.
                                                    Timbet – это команда каперов, единомышленников, объединенных страстью к спорту, нескончаемой любовью к футболу и безграничной симпатией к хоккею. Наша работа – составление каперских прогнозов на спорт.
                                                    Перед тем, как предложить вам хороший прогноз, мы проводим глубокую аналитику, чтобы учесть форму команд и спортсменов, оценить их слабые и сильные стороны, не упустить из виду текущие травмы и другие факторы, которые могут повлиять на результат.
                                                    %br/
                                                    %br/
                                                    Прогнозы на футбол, баскетбол, теннис и хоккей размещены на отдельных страницах сайта. Бесплатные прогнозы публикуем на страницах социальных сетей, платные – через Личный кабинет после внесения оплаты.
                                                    За несколько лет плодотворной работы в сфере беттинга наши каперы накопили большой опыт, помогающий им правильно оценивать шансы и давать профессиональные прогнозы на спорт с высокой проходимостью.
                                                    Прогнозы на спорт – наша страсть и основная профессия! Чтобы отбросить сомнения, посмотрите отзывы в группе Вконтакте или на канале в Telegram. Для получения профессиональной консультации и компетентных советов пишите Тимуру или Алисе.
                                            .col-6
                                                .ourAdvantages__img
                                                    %img{:src => "assets/pictures/rect.svg", :alt => ""}/
                                                    %a.btns.btns-primary{:href => ""} Присоединиться
            
        //=include components/_footer.haml
    