!!!5
%html
    //=include components/_head.haml
    %body
        - $guest = false
        //=include components/_header.haml
        %main
            %img.background{:src => "assets/img/image.jpg", :alt => ""}/
            //=include components/_main.head.haml
            .container
                .row
                    .col-12
                        .content
                            .row
                                //=include components/_sidebar.left.haml
                                .col-8.col-lg-6
                                    .block
                                        .block__body
                                            %h1.h1 теннис
                                            .forecastBlock
                                                .forecastBox
                                                    .forecastBox__body.extend
                                                        .lkBtnsBlock.forecastItem__btns
                                                            %p
                                                                Прогноз формируется
                                                                %br/
                                                                Мы уведомим вас по e-mail
                                                                %br/
                                                                о готовом прогнозе на теннис    
                                                            %a.btns.btns-primary.extend{:href => ""} Получить уведомление
                                                                
                                            
                                                
                                                

                                                
                                //=include components/_sidebar.right.haml
        //=include components/_footer.haml
    