!!!5
%html
    //=include components/_head.haml
    %body
        - $guest = false
        //=include components/_header.haml
        %main
            %img.background{:src => "assets/img/image.jpg", :alt => ""}/
            //=include components/_main.head.haml
            .container
                .row
                    .col-12
                        .content
                            .row
                                //=include components/_sidebar.left.haml
                                .col-8.col-lg-6
                                    .block
                                        .block__body
                                            %h1.h1 e-mail оповещения
                                            .notification
                                                .notification__inner
                                                    %form{:action => ""}
                                                        - ['Изменение пароля', 'Оплата подписки', 'Новый прогноз в подписке', 'Новостная рассылка'].each do |i|
                                                            %label.check-case
                                                                %input{:type => "checkbox", :name => "test"}/
                                                                %span.field-checkbox
                                                                    %i.icn-checkbox
                                                                .check-name #{i}
                                                        %input.btns.btns-primary.btns-block.notification__btn{:type => "submit", :value => "Сохранить изменения"}/


                                            
                                    

                                    
                                //=include components/_sidebar.right.haml
        //=include components/_footer.haml
    