!!!5
%html
    //=include components/_head.haml
    %body
        - $guest = false
        //=include components/_header.haml
        %main
            %img.background{:src => "assets/img/image.jpg", :alt => ""}/
            //=include components/_main.head.haml
            .container
                .row
                    .col-12
                        .content
                            .row
                                //=include components/_sidebar.left.haml
                                .col-8.col-lg-6
                                    .block
                                        .block__body
                                            %h1.h1 Смена пароля
                                            .form
                                                %form.form__inner{:action => ""}
                                                    .field-case
                                                        %input.field{:type => "", :name => "", :placeholder => "Текущий пароль", :required => "true"}/
                                                    .field-case
                                                        %input.field{:type => "", :name => "", :placeholder => "Новый пароль", :required => "true"}/
                                                    .field-case
                                                        %input.field{:type => "", :name => "", :placeholder => "Подтвердите новый пароль", :required => "true"}/
                                                        %label.error{:for => ""} Пароли не совпадают
                                                    %input.btns.btns-primary.form__btn{:type => "submit", :value => "Сохранить изменения"}/


                                            
                                    

                                    
                                //=include components/_sidebar.right.haml
        //=include components/_footer.haml
    