!!!5
%html
    //=include components/_head.haml
    %body
        - $statictics = true 
        - $guest = true 
        //=include components/_header.haml
        %main
            %img.background{:src => "assets/img/image.jpg", :alt => ""}/
            //=include components/_main.head.haml
            .container
                .row
                    .col-12
                        .content
                            .row
                                //=include components/_sidebar.left.haml
                                .col-8.col-lg-6
                                    .breadCrumb
                                        %a{:href => ""} Главная
                                        %span Статистика
                                    .block
                                        .block__body
                                            %h1.h1 Статистика платных прогнозов
                                            - (1..5).each do |i|
                                                .expand{:class => "#{i != 5 ? 'block__expand' : ''}"}
                                                    %input.expand__btn{:type => "checkbox"}/
                                                    .expand__head
                                                        Декабрь 2018
                                                        %i.icn-angle-up
                                                    .expand__body
                                                        %table.compositionTeam
                                                            %thead
                                                                %tr
                                                                    %th дата
                                                                    %th Имя
                                                                    %th коэф.
                                                                    %th
                                                                        ставка
                                                                    %th счет
                                                                    %th
                                                                        результат
                                                                    
                                                            %tbody
                                                                - (1..10).each do |j|
                                                                    %tr{:class => "#{j%2 != 0 ? 'odd' : ''}"}
                                                                        %td 
                                                                            %span.date 30.12 10:00
                                                                        %td{:width => "100%"}
                                                                            - if j == 3
                                                                                %i.icn-basketball
                                                                            - elsif j == 4
                                                                                %i.icn-tennis
                                                                            - elsif j == 5
                                                                                %i.icn-hokey
                                                                            - else 
                                                                                %i.icn-football
                                                                            Кузейро - Бока Х
                                                                        %td 88.88
                                                                        %td ИТБ1
                                                                        %td 11:11
                                                                        %td 
                                                                            - if j%3 == 0
                                                                                .result.warning Возврат
                                                                            - elsif j == 5
                                                                                .result.danger Не прошел
                                                                            - else 
                                                                                .result.success Прошел
                                                        %a.showMore{:href => ""} Показать еще
                                //=include components/_sidebar.right.haml
        //=include components/_footer.haml
    