!!!5
%html
    //=include components/_head.haml
    %body
        - $guest = false
        //=include components/_header.haml
        %main
            %img.background{:src => "assets/img/image.jpg", :alt => ""}/
            //=include components/_main.head.haml
            .container
                .row
                    .col-12
                        .content
                            .row
                                //=include components/_sidebar.left.haml
                                .col-8.col-lg-6
                                    .block
                                        .block__body
                                            %h1.h1 мои подписки
                                            .forecastBlock
                                                .forecastBlock___head
                                                    %strong Футбол
                                                    %span Осталось: 1
                                                .forecastBox
                                                    .forecastBox__body.extend
                                                        - (1..2).each do |i|
                                                            .forecastItem.extend
                                                                .forecastItem__title Название Лиги    
                                                                .forecastItem__date Начало: 08.10 в 00:00
                                                                .forecastItem__body
                                                                    .forecastItem__teams Жальгирис - Олимпиакос
                                                                    .forecastItem__name П1
                                                                    .forecastItem__rate 
                                                                        Коэф. 
                                                                        %strong 1.95
                                                                .lkBtnsBlock.forecastItem__btns
                                                                    %a.btns.btns-info{:href => ""} Купон
                                                                    %a.btns.btns-primary{:href => ""} Сделать ставку
                                            .forecastBlock
                                                .forecastBlock___head
                                                    %strong Экспресс
                                                    %span Осталось: 0
                                                .forecastBox
                                                    .forecastBox__body
                                                        - (1..5).each do |i|
                                                            .forecastItem
                                                                .forecastItem__title Название Лиги    
                                                                .forecastItem__date Начало: 08.10 в 00:00
                                                                .forecastItem__body
                                                                    .forecastItem__teams Жальгирис - Олимпиакос
                                                                    .forecastItem__name П1
                                                        .lkBtnsBlock
                                                            .lkBtnsBlock__rate
                                                                Коэф. 
                                                                %strong 1.95
                                                            %a.btns.btns-info{:href => ""} Купон
                                                            %a.btns.btns-primary{:href => ""} Сделать ставку
                                                
                                                

                                                
                                //=include components/_sidebar.right.haml
        //=include components/_footer.haml
    