.block
    background: #FFFFFF
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15)
    margin-bottom: 15px
    &__title
        text-align: left
        padding-top: 15px
        margin: 0 15px 30px
    &__header
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: space-between
        padding: 15px
        margin-bottom: 15px
        h1
            margin-bottom: 0
            flex: 1 1 auto
        .switch
            flex: 0 0 auto

    &__head
        font-weight: bold
        font-size: 18px
        color: #fff
        padding: 9px 8px
        line-height: 1.1
        @media(max-width: 1199px)
            font-size: 15px
        &.grey
            background: #728492
        &.green
            background: #16AA2E
        &.orange
            background: #E55011
        &.blue
            background: #118CE5
        &.purple
            background: #504C82
    &__date
        padding: 0 15px 5px
    &__expand
        margin-bottom: 15px
    &__body
        padding: 15px
