.breadCrumb
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    margin-bottom: 15px
    flex-wrap: wrap
    a, span
        font-size: 14px
        color: rgba(0,0,0,0.4)
        font-weight: bold
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        @media(max-width: 1199px)
            font-size: 12px
    a:after
        content: ">"
        margin: 0 5px
        font-size: 11px
        font-weight: normal
        @media(max-width: 1199px)
            margin: 0 3px
            font-size: 10px

