.btns
    background: none
    border: none

    display: inline-block
    vertical-align: middle
    box-shadow: 0px 3px 8px rgba(25, 110, 205, 0.35), 0px 3px 4px rgba(0, 0, 0, 0.15)

    font-size: 14px
    font-weight: bold
    
    border-radius: 4px
    
    border-radius: 3px
    padding: 7px 25px
    &:focus, &:active, &:hover
        text-decoration: none
    &-block
        width: 100%
        display: block
        text-align: center
    &-default
        color: #fff 
        border: 1px solid #FFFFFF
        &:hover, &:focus, &:active
            color: #fff
    &-info
        background: #DAECFF
        color: #196ECD
        &:hover, &:focus, &:active
            color: #196ECD
    &-primary 
        color: #fff !important
        background: #196ECD
        border: 1px solid #196ECD
        
        &:hover, &:focus, &:active
            background: #196ECD
            color: #fff
    &-secondary
        background: #E8E8E8
        border: 1px solid #E8E8E8
        color: #212529
        &:hover, &:focus, &:active
            background: #E8E8E8
            color: #212529
    &[disabled], &.disabled
        background-color: #616463 
        border: 1px solid #616463 
        pointer-events: none
        box-shadow: none
        color: rgba(255,255,255,0.5)
