.exodus	
	width: 16px
	height: 16px
	border-radius: 5px
	font-size: 11px
	text-transform: uppercase
	color: #fff
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: center
	&.success
		background: #29B32D
	&.danger
		background: #D6212A
	&.warning
		background: #F1A646