.info
    background: #DAECFF
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15)
    margin-bottom: 15px
    padding: 15px
    &__text
        margin-bottom: 15px
    &__link
        text-decoration: underline
        color: #000
        font-size: 14px
        font-weight: bold
        