.vip
    position: absolute
    display: block
    top: 0
    right: 0
    width: 56px
    height: 56px
    font-size: 14px
    background: url('../img/trigonal.svg') right top no-repeat
    @media(max-width: 1199px)
        width: 50px
        height: 50px
        font-size: 12px
    &:before
        content: "VIP"
        position: absolute
        width: 100%
        height: 100%
        color: #fff
        font-weight: bold
        z-index: 9
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: center
        transform: rotate(45deg)
        padding-bottom: 23px
    &-small
        width: 48px
        height: 48px
        font-size: 12px